// variables.scss
$cgs-backGroudColor: #2f2f2f;
$cgs-brandColor: #129be3; //品牌色 价格颜色

$cgs-font-title: #333333; //标题
$cgs-font-dec: #aaaaaa; // 辅助文字
$cgs-font-dec2: #777777; // 辅助文字2
$cgs-font-prompt: #ff6b19; // 提示文字-审核中
$cgs-font-success: #27b20b; // 提示文字-待取货

$cgs-border: #2f2e2e; // 边框色

$cgs-side:#121212 //  侧边栏和顶部栏
